.title-2xl {
	font-size: 230px;
	font-weight: 700;
	line-height: 0.9; 

    @media screen and (width <= 1250px) {
        font-size: 15.6vw;
        line-height: 1.1;
    }


    @media screen and (width <= 768px) {
        font-size: 10.9vw;
    }


    @media screen and (width <= 500px) {
        font-size: 48px;
    }
}

.title-xl {
	font-size: 140px;
	font-weight: 700;
	line-height: 1.1;

    @media screen and (width <= 768px) {
        font-size: 84px;
        line-height: 1.3;
    }

    @media screen and (width <= 500px) {
        font-size: 48px;
        line-height: 1.2;
    }
}

.title-h1 {
	font-size: 64px;
	font-weight: 700;
	line-height: 1.1;
}

.title-h2 {
	font-size: 48px;
	font-weight: 700;
	line-height: 1.2;

    @media screen and (width <= 768px) {
        font-size: 32px;
	    line-height: 1.3;
    }

    @media screen and (width <= 500px) {
        font-size: 24px;
    }
}

.title-h3 {
	font-size: 32px;
	font-weight: 700;
	line-height: 1.3;

    @media screen and (width <= 768px) {
        font-size: 24px;
    }

    @media screen and (width <= 500px) {
        font-size: 20px;
    }
}

.title-h4 {
	font-size: 24px;
	font-weight: 700;
	line-height: 1.3;

    @media screen and (width <= 768px) {
        font-size: 20px;
        line-height: 1.4;
   }
}

.title-h5 {
	font-size: 20px;
	font-weight: 700;
	line-height: 1.4;
}

.text-m {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.7;
}